server:
  port: 9008
spring:
  application:
    name: tensquare-user #指定服务名
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/tensquare_user?characterEncoding=UTF8
    username: root
    password: 123456
  jpa:
    database: MySQL
    show-sql: true
    properties:
      hibernate:
        globally_quoted_identifiers: true
  redis:
    host: 127.0.0.1
  rabbitmq:
    host: 127.0.0.1
jwt:
  config:
    key: OgM9k5oT
    ttl: 3600000
